<h1>Wikis#index</h1>
<% if current_user.present? %>
  <%= link_to "New Wiki", new_wiki_path %>
<% end %>  
<% @wikis.each do |wiki| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">               
        <%= link_to wiki.title, wiki %> -Created by&nbsp;<%= wiki.user.email %>
      </h4>
      <small>
        <%= markdown(wiki.body) %>
      </small>  
    </div>
  </div>
<% end %>
