<%= form_tag d_m_collaborations_path, method: :delete do %> 
  <ul class="user-list">
    <% wiki.collaborations.each do |collaboration| %>
      <li><%= check_box_tag "collaborations[]", collaboration.id %><%= wiki.users.find(collaboration.user_id).email %></li>
    <% end %>  
  </ul>  
  <%= submit_tag "Remove collaborator" %>
<% end %>
 