// Place all the styles related to the Wikis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-list-div{
	border:0px solid #000;
	font-size: 14px;
	margin-right: 20px;
}

.user-select-box{
	min-width: 250px;
}

.user-list{
	list-style: none;
	overflow: auto;
	max-height: 200px;
	margin: 0;
	padding: 0;
	text-indent: 10px;
}

.wiki-edit-save{
	display: block;
}

.available-users{
    float: left;
}

.collaborators{
    float: left;
}